In [1]:
# Loading Libraries
import pandas as pd
import numpy as np
from tabulate import tabulate

from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split as ttsplit

import constants

RANDOM_STATE = constants.RANDOM_STATE

---
# Dumping user wise age features train data

In [2]:
# Loading training data
df_train = pd.read_csv(constants.OUTPUT_FILE)
print(df_train.shape)
df_train.head()

(1, 11)

,from-to,userA_id,userB_id,has_common_skills,n_common_skills,has_common_schools,n_common_schools,has_common_industry,n_common_industry,has_common_company,n_common_company
0,888999-222,888999,222,0,-1,0,-1,0,-1,0,-1

## Loading Lookup dataFrame

In [3]:
# Loading skills table to create a lookup to create feature from
df_age = pd.read_csv(constants.DATA_PATH+'user_ages.csv')
df_age.head()

   user_id   age
0        0   4.0
1      151  33.0
2       41  36.0
3       51  41.0
4    19670  30.0

In [4]:
# dropping duplicates
df_age.drop_duplicates(inplace=True)
df_age.dropna(axis=0, inplace=True)

In [5]:
# Preview
df_age[ df_age['user_id']==151]

   user_id   age
1      151  33.0

### Creating features

In [6]:
# Dumping userA purposes
temp = df_age.add_prefix('userA_').rename(columns={'userA_user_id': 'userA_id'})
df_train = pd.merge(df_train, temp, how='outer', on='userA_id')
#
# # Dumping userB purposes
temp = df_age.add_prefix('userB_').rename(columns={'userB_user_id': 'userB_id'})
df_train = pd.merge(df_train, temp, how='outer', on='userB_id')

In [9]:
# Dealing with missing values
df_train = df_train.dropna(subset=['from-to']).fillna(0)

In [10]:
# Preview of new features
df_train.head()

,from-to,userA_id,userB_id,has_common_skills,n_common_skills,has_common_schools,n_common_schools,has_common_industry,n_common_industry,has_common_company,n_common_company,userA_age,userB_age
0,888999-222,888999.0,222.0,0.0,-1.0,0.0,-1.0,0.0,-1.0,0.0,-1.0,0.0,0.0

--- 
Writing to file
---

In [11]:
# Writing to output
df_train.to_csv(constants.OUTPUT_FILE,
                index=False,
                header=True)